@model BaseApplication.Domains.ForgetPassword
@{
    Layout = null;
   
}
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<style>
    input[type="checkbox"] {
        accent-color: #776acf;
        width:15px;
        height:15px;
    }

  @@media screen and  (max-width:500px)
{
  h5{
      font-size:17px;
  }
  label{
      font-size:14px;

  }
  .form-control {
      font-size:14px!important;
  }
  button{
      font-size:14px;
  }
  .img{
      height:14%;
      width:20%;
  }
}
.Login_content {
    padding: 30px 20px;
}

    .input-group_css{
        display:flex;
    }

.Login_content {
    background: white;
}

input.pw {
    -webkit-text-security: disc;
}

    .img {
        height: 22%;
        width: 18%;
    }
.error-font-size {
    color: red;
}

    .btn_css {
        width: 100%;
        background-color: #776acf;
        border: 1px solid #776acf;
    }

    .btn-primary:hover {
        color: #fff;
        background-color: #776acf;
        border-color: #776acf;
    }


</style>
<body style=" overflow:hidden; background-color: #776acfad; background-image: linear-gradient(to right, #776acf66, white)">
    <div class="Main_container">
       <div class="container">
            <div class="row justify-content-center align-content-center" style="margin-top:8%;">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="Login_content container-fluid">

                        <div class="text-center mb-3">
                            <img src="/Images/login.png" style="width:18%; height:20%;" />
                        </div>
                        <div class="">
                            <div class="card-title">
                                <h5 class="text-center pb-1" style="color:#3b1c54;">ForgetPassword</h5>
                            </div>
                            <form role="form" asp-action="ForgotPassword" asp-controller="Account" method="post">
                               
                                <div class="form-group mb-3">
                                    <label class="text-bold-600 login_font mb-2 lbl_css" for="Email">Email</label>
                                    <input type="text" name="Email" asp-for="Email" autocomplete="off" class="form-control" placeholder="Email">
                                    <span asp-validation-for="Email" style="font-size:80%" class="text-danger"></span>
                                </div>
                                
                                <div class="justify-content-center">
                                    <button type="submit" class="btn btn-primary btn_css w-100">
                                       Send Link
                                    </button>
                                </div>
                            </form>
                      
                            <div class="text-center mb-2">
                                <a href="/Account/Login" class="btn btn-primary btn_css w-100">
                                    <small style="font-size:16px;">
                                        Login
                                    </small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</body>